<div class="album text-muted">
  <div class="container">
    <%= source_helper("alert alert-warning") %>
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <!-- So! You can pass a partial by not having the exact name for the index action.
           You can pass partial: which is the actual name of the partial file
           Also you can pass the collection (which isn't the actual name of the index action to collection!)
      -->
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
