<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Wall of text</h1>
    <p class="lead blog-description">So many words...</p>
    <span>
      <%= link_to 'Write a new Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to 'Topics', topic_index_path %>
    </span>
  </div>
</div>
