<div class="container">
  <h1>About</h1>
  <p class="lead">
    My name is Christopher Choi and I am a web developer with experience mainly in Ruby(on Rails),
    but have tinkered with Elixir(Phoenix) and ELM.
  </p>
  <p>
    My developer experience started with my first job out of college at a small(now large) medical startup company.
    I first started out in customer success team and tinkered with code after seeing our 2 person dev team create a massive SaaS product.
    I dove headfirst into Ruby on Rails, the same stack that was utilized to build an enterprise level application.
    Although I am now trying to diversify my skil set, Ruby will always have a special place in my heart.
    Special shoutout to Drew and Loren for inspiring me to go further in code, thank you!
    <hr />
    <%= image_tag 'http://res.cloudinary.com/dh0bkhb4y/image/upload/v1508455147/IMG_1801_g0ny6g.jpg', class: 'about_image'%>
  </p>
</div>
