<div class="about-me">
  <div class="card">
    <div class="card-header">
      <h1>About</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="image col-lg-5">
          <%= image_tag "profile.jpg" %>
        </div>
        <div class="col-lg-7">
            <p class="lead">
              My name is Christopher Choi and I am a web developer with experience mainly in Ruby(on Rails),
              but have tinkered with Elixir(Phoenix) and ELM.
            </p>
            <p>
              I first started out in customer success right out of college and my company at the time utilized Rails.
              Since then, I taught myself how to code with the help/inspiration from the dev team.
              Although I am now trying to diversify my skil set, Ruby will always have a special place in my heart.
              Special shoutout to Drew and Loren for inspiring me to go further in code, thank you!
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
