<div class="about-me">
  <div class="card">
    <div class="card-header">
      <h1>About</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="profile_image col-md-4">
          <%= image_tag "profile.jpg", width: 225 %>

          <div class="skills">
            <% @skills.each do |skill| %>
              <div class="skill">
                <h4><%= skill.title %></h4>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped bg-warning"
                    role="progressbar"
                    aria-valuenow="<%= skill.percent_utilized %>"
                    aria-valuemax="100"
                    style="width: <%= skill.percent_utilized %>%"
                  ></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-8">
          <p class="lead">
            My name is Christopher Choi and I am a web developer with experience mainly in Ruby(on Rails),
            but have tinkered with Elixir(Phoenix) and ELM.
          </p>
          <p>
            I first started out in customer success right out of college and my company at the time utilized Rails.
            Since then, I taught myself how to code with the help/inspiration from the dev team.
            Although I am now trying to diversify my skill set, Ruby will always have a special place in my heart.
            Special shoutout to Drew and Loren for inspiring me to go further in code, thank you!
          </p>
          <p>
            <button
              class="btn btn-info active btn-lg"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controls="jobHistory"
            >
            Job History
          </button>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-body">
                Web Developer for The Industry | Dec 2016 -
              </div>
              <div class="card card-body">
                Customer Success at Silversheet | Aug 2015 - May 2016
              </div>
            </div>
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
